<h2>Excluir Cliente</h2>

<h3>Deseja exluir cliente?</h3>

<button class="btn btn-danger" onclick="ExcluirCliente()">Sim</button>
<button class="btn btn-primary" onclick="Cancelar()">Não</button>

<script>
	function ExcluirCliente()
	{
		window.location.href = window.location.origin + "/Home/ExcluirCliente/" + @ViewData["ClienteID"];
	}

	function Cancelar()
	{
		window.location.href = window.location.origin + "/Home/Index";
	}
</script>
